.about {
  position: relative;
  width: 100vw;
  /* height: 100vh; */
}
.navbarVector {
  position: absolute;
  top: 0;
  left: 0;
}

.aboutNavbar {
  width: 100vw;
  display: flex;
  flex-direction: row;
}

.aboutMenu {
  position: absolute;
  width: 104px;
  height: 96px;
  left: 26px;
  top: 30px;
  flex: 3;
  z-index: 1;
}

.aboutBrand {
  position: absolute;
  width: 104px;
  height: 96px;
  border-radius: 50%;
  background: #e3d7d7;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutBrand p {
  font-family: "Passion One";
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 3px;
  color: #ac3939;
}
.menu {
  flex: 9;
  width: 700px;
  z-index: 1;
}
.menuUl {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 20px 20px;
}
.menuItems {
  cursor: pointer;
  font-family: "Passion One";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  list-style: none;
  letter-spacing: 3px;
  padding: 10px;
  color: #e3d7d7;
}
